body{padding-top:102px;}
h1, h2, h3, h4, h5, h6{font-family: 'Lato', sans-serif;}
p{font-family: 'Lato', sans-serif;font-size: 14px;}
/* NavBar  */
.navbar{min-height: 110px; margin-bottom: 0;}
.navbar-default{background: #000000;border:none ;border-radius: 0;}
.topnav{color:#7e7e7e !important;font-size:11px !important;}
.navbar-nav .topnav.topnav-style{font-size: 14px !important;font-weight: 300;color: #fff !important;}
.navbar .nav > li > a{
    color:#2e2e2e;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 8px 12px 10px;
}
.navbar-nav{padding: 0 0 20px; margin: 14px -15px !important;}
.navbar-default .navbar-nav > li > a{color:#fff; font-size: 16px; font-weight: 600; text-transform: uppercase; transition: background-color 0.5s ease;}
.navbar-default .navbar-nav > li > a:visited{color:#fff;}
.navbar-default .navbar-nav > li > a:focus{
    color:#fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover{
    background: #FFFFFF;
    color: #000;
    transition: background-color 0.5s ease;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:active {
  color: #1a5a4c;
  background-color: transparent;
}
.navbar-brand {
  float: left;
  height: auto;
  padding: 0;
  font-size: 18px;
}
.navbar-brand .logooverflow{position: absolute;}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 30px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #FFF;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{color: #ff5501;}
.navbar-default .navbar-toggle:hover .icon-bar{background-color: #ff5501;}
.navbar-default .navbar-toggle:focus .icon-bar{background-color: #ff5501;}

.navbar-nav > li > .dropdown-menu{background: #000; width: 120px;}
.dropdown-menu > li > a{color: #fff;}
dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {color: #000000; background-color: #FFFFFF;}
.navbar-new{margin: 8px 0 !important;}

.login{float: right; color: #FFF; font-size: 12px; font-family: 'Lato', sans-serif; padding: 2px 6px;}
.login:hover{ color: #FFF;}
.navbar-default .navbar-toggle::before {color: #3d262c ;}
.navbar-default .navbar-toggle:hover::before{color: #3d262c ;}  
.navbar-default .navbar-toggle:focus::before{color: #3d262c ;}  
.navbar-default .navbar-toggle:selected::before{color: #3d262c ;} 
.navbar-default .navbar-toggle:active::before{color: #3d262c ;}
/* NavBar End */

/* Home Section */
.HeroSection{
    float: left;
    width: 100%;
    display: block;
    background: url('../images/home/herobg.jpg')  40% 0 fixed;
    background-size: cover;
    overflow: hidden;
}
.HeroSection h1{
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    line-height: 100px;
    margin-top: 100px;
    margin-bottom: 45px;
}
.HeroSection h1 span.small{font-size: 36px; color: #FFFFFF; display: block;}

.HeroSection .transparentbox{
    background-color: rgba(0, 0, 0, 0.7);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: none;
    border:0;
    color: #FFF;
}
.HeroSection .transparentbox h3{
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}
.HeroSection .well{background: none; border: 0;}
.HeroSection .transparentbox .ctext{
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    margin-bottom: 60px;
}


.WhiteSection{
    float: left;
    width: 100%;
    display: block;
    overflow: hidden;
    background: #ffffff;
}
.WhiteSection.topgap{padding-top: 90px;}
.WhiteSection.topgap.v2{padding-top: 30px;}
.WhiteSection h2.getstarted{
    color: #333333;
    font-size: 48px;
}
.WhiteSection .subheading{
    color: #333333;
    font-size: 24px;
    line-height: 36px;
    margin: 35px 0;
}
.WhiteSection .sexophone{vertical-align: bottom; bottom: 0;}

.BlackBar{
    float: left;
    width: 100%;
    display: block;
    background: #000;
    overflow: hidden;
    padding: 90px 0;
}
.BlackBar .quote{
    font-size: 24px;
    font-style: italic;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    margin: 40px auto;
}
.BlackBar .quotename{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    margin: 0 auto;
    display: table;
}
.HuntTalent{
    float: left;
    width: 100%;
    display: block;
    background: url('../images/home/venues.jpg') 40% 0 fixed;
    background-size: cover;
    overflow: hidden;
    padding: 220px 0;
}
.HuntTalent h2{
    color: #FFFFFF;
    font-size: 48px;
    line-height: 52px;
    margin-top: 0;
}
.HuntTalent .transparentbox{
    background-color: rgba(0, 0, 0, 0.7);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: none;
    border:0;
    color: #FFF;
    margin-bottom: 0;
}
.HuntTalent .transparentbox p.vtxt{
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
    margin: 46px 0;
}

/* Artist Registeration */
.artistRegister{
    float: left;
    width: 100%;
    display: block;
    background: url('../images/backgrounds/artist-register-bg.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding: 92px 0 98px;
/*    height: 812px;*/
    
}
.artistRegister .panel{
    border-radius: 5px;
    border:1px solid #c2b4a7;
    padding: 30px 0;
}
.artistRegister h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
    margin-top: 0;
}
.artistRegister .subheading{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.artistRegister .container-center2 {
    margin-bottom: 127px;
    margin-top: 129px;}
/* Search Results */

.WhiteSection .Searchgap{
    margin-top: 0;
    margin-bottom: 16px;
}
.WhiteSection .Searchgap .LeftGap{
    padding-top: 12px;
    padding-bottom: 12px;
}
.Searchgap{
    padding-top: 12px;
    padding-bottom: 12px;    
}
.boderedfilter{border: 1px solid #a0a0a0;border-radius: 10px; margin-top: 0;}
.roomtoreant{
    font-size: 16px;    
}
.WhiteSection .heading-top{padding-top: 16px;}

.right-box{
    background-color: #e4f1fe;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.right-box .blueheading{
    color: #2574b2;
    padding-bottom: 15px;
}
.boderedfilter .btn-search{
     background-color: #efecec;
    /*border-color: #2e6da4;*/
    border-top: 1px solid #d7d4d4;
    border-bottom:1px solid #d7d4d4;;
    border-radius: 0;
    color: #333;
    padding: 12px 84px;
}
.boderedfilter h4{
    font-size: 16px;
    padding-bottom: 15px;
    margin: 0;
}


.boderedfilter .panel-group .panel .panel-heading{padding: 12px 15px; cursor: pointer; color: #333;}
.boderedfilter .panel-group .panel .panel-heading h5{font-size: 14px;}
.boderedfilter .panel-group .panel .panel-body{padding:8px 15px;}
.boderedfilter .panel{background: none; border: 0; border-radius: 0; box-shadow: none;}
.boderedfilter .panel-default > .panel-heading{background: none;}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{border: none;}

.box-control {
    display: table;
    height: 34px;
    width: 40% !important;
    margin: 20px 13px 8px;
    border-radius: 0;
}
.form-inline .box-heading{
    padding-bottom: 0;
}
.boderedfilter .joint-btnone {
    border-radius: 0;
    margin-bottom: 20px;
    padding: 6px 30px;
    width: 100%;
}
.boderedfilter .joint-btnone.v2{
    border-radius: 0;
    margin: 6px 6px 10px;
    padding: 0;
    width: auto;
}
.boderedfilter .joint-btnfour {
    margin-bottom: 20px;
    padding: 6px 28px;
    border-radius: 0;
}
.form-controlBorder{border-radius: 0;}
.right-box .image-contol img {width: 195px;}
.controlimage{
    width: 195; 
    height: 153; 
    overflow: hidden; 
    display: block; padding: 20px;
}
.right-box .freecontact{
    background-color: #2574a9;
    color: #FFF;
    border-radius: 2px;
    padding: 4px;
    float: left;
}
.right-box .Orangecolor{
    color: #f76426;
    float: right;
}
.right-box .Secondline{
    float: left;
    padding-top: 12px;
}
.right-box .Thirdline{
    float: right; 
    padding-top: 12px;
}
.right-box .StartingText{
    margin-bottom:0; 
    padding-top: 12px;
}
.right-box.greybox{
    background-color: #f5f5f5;
}
.dropdown-alignment
{
    float: right;
    margin-bottom: 20px !important;    
}
.right-box .early{
    background-color: #00b16a;
    color: #FFF;
    border-radius: 2px;
    padding: 4px;
    float: left;
}
/* CSS Method for adding Font Awesome Chevron Icons */
 .boderedfilter .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome'; 
    content:"\f106";
    float: right;
    color: #9c9c9c;
}
.boderedfilter .panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content:"\f107";
    color: #9c9c9c;
}
.darkestcolor{background-color: #dcdcdc !important;color: #9c9c9c;}
.darkcolor{background-color: #efecec !important;}
.lightcolor{background-color: #f6f6f6 !important;}
.lightcolor .checkbox{margin: 0;}
.noborder{border-top-left-radius: 0; border-top-right-radius: 0;}
.boderedfilter .border-specialbox{
    border: 1px solid #dce0e0;
    margin-bottom: 20px;
}
.right-box .price{
    background: #333333 none repeat scroll 0 0;
    color: #fff;
    display: table;
    margin-left: 20px;
    opacity: 0.81;
    padding: 5px;
    position: absolute;
    top: 20px;           
}
.right-box .pictures{
    background: #333333 none repeat scroll 0 0;
    color: #fff;
    display: table;
    margin-left: 20px;
    opacity: 0.81;
    padding: 5px;
    position: absolute;
    bottom: 20px;
}
.padinationText-allignment{text-align: right;}
.btn-primary.roombutton{display: none;}


.ArtistBox{margin-bottom: 20px;}
.ArtistBox .panel{background:#1f1f1f;margin-bottom: 0;margin-top: 0; border-radius: 10px; overflow: hidden;}
.ArtistBox .panel.panel-default{border:none;}
.ArtistBox .panel-body{background:#1f1f1f; border:none;}
.ArtistBox .panel-footer{background:#1f1f1f; border:none; color: #cdcdcd; padding-top: 0;padding-bottom: 15px;}
.ArtistBox .panel-footer .artistName{color: #cdcdcd; font-size: 20px; font-weight: 600; margin-bottom: 0; margin-top: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;}
.ArtistBox .panel-footer .artistGenre{color: #cdcdcd;font-size: 14px;line-height: 20px;margin-bottom: 0;}
.ArtistBox .panel-footer .artistReviews{color: #cdcdcd;font-size: 14px;line-height: 20px;margin-bottom: 0;}
.btn-primary.roombutton {
    background-color: #783a4a;
    border-color: #783a4a;
    color: #fff;
    display: none;
    margin: 7px auto;
    padding: 13px;
    width: 100%;
}
.customdropdown{min-width: auto;}
/* Search Results End */

/* Artist & Venues Details Page */
.GreySection{
    float: left;
    width: 100%;
    display: block;
    overflow: hidden;
    background: #282828;
}
.GreySection .ArtistInfo h2{
    color: #fefefe;
    font-size: 68px;
    margin-top: 100px;
    margin-bottom: 5px;
}
.GreySection .ArtistInfo .artistDetails{
    color: #fefefe;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.GreySection .ArtistInfo .artistDetails.v2,
.GreySection .ArtistInfo .artistDetails.v2 .badge{
    color: #fefefe;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.GreySection .ArtistInfo .artistDetails .badge{
    background: #000;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    padding: 5px 20px;
}
.GreySection .ArtistInfo .artistMapLocation{
    color: #fefefe;
    font-size: 20px;
    font-weight: 600;
}
.GreySection .ArtistInfo .artistMapLocation i.fa-map-marker{color: #cc3433;font-size: 36px; margin-right: 15px;}

.GreySection .ArtistInfo .artistDescription{
    color: #9d9d9d;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}
.GreySection .ArtistInfo .rating-xs {font-size: 28px;}
.fb-like{line-height: 17px;margin-top: 0;}
.GreySection .ArtistInfo .fa-star.cStar{
	color: #f6b501;
	font-size: 26px;
	margin-right: 5px;
}
.GreySection .ArtistInfo .fa-star-o.cStar{
	color: #eaeaea;
	font-size: 26px;
	margin-right: 5px;
}

.SkewSection{
    float: left;
    width: 100%;
    display: block;
    background: url('../images/cutbg.jpg') 42% top no-repeat;
   
}
.GreySkew{
    padding-top: 35px;
    padding-bottom: 35px;
}
.GreySkew .BioBox{
    background: #ffffff;
}
.GreySkew .BioBox h4{
    font-size: 36px;
    color: #161616;
    font-weight: 400;
}
.GreySkew .BioBox .biodetail{
    color: #414141;
    font-size: 18px;
    line-height: 32px;
}
.BlackSkew{color: #f4f4f4;}
.BlackSkew h4{
    color: #f4f4f4;
    font-size: 36px;
    font-weight: 400;
	margin-top: 66px;
}
.BlackSkew .position{
	color: #979797;
}
.BlackSkew h5{
	font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
}

/* Slider */
.SliderBox{margin-top: 30px; min-height: 470px;}
.SliderBox #myCarousel .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 0;
    top: 370px;
    width: 100%;
}
.SliderBox #myCarousel .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 75px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 120px;
}
.SliderBox #myCarousel .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 75px;
    left: 0;
    width: 120px;
}
.SliderBox #myCarousel .carousel-indicators .active img {
    border: 2px solid #39b3d7;
}
/* Slider Ends */

.LightGrey{
	float: left;
	width: 100%;
	background: #f7f7f7;
	overflow: hidden;
	padding: 30px 0;
}
.LightGrey h4 {
    color: #161616;
    font-size: 36px;
    font-weight: 400;
}
.gigography{margin-top: 50px;}
.gigography .panel{
	background: none;
	border: 1px solid #bfbfbf;
}
.gigography h4.media-heading{
	font-size: 24px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.gigography .panel .panel-body .gigdetails{
	font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
	
	display: block;
	display: -webkit-box;
	max-width: 100%;
	height: 43px;
	-webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gigography .panel .panel-body .viewdetails{font-size: 14px;}

/* Venue Details */
.GreySection .ArtistInfo.VenueInfo h2.venueheading{
    color: #fefefe;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 5px;
}
.GreySection .acceptingapplications .acceptHeading{
	color: #e2bf9f;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 20px;
}
.GreySection .acceptingapplications .accpetdetail{
	color: #fefefe;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}
.GreySection .ArtistInfo.VenueInfo .artistMapLocation{
	color: #fefefe;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 0;
	margin-top:30px;
}
.GreySection .ArtistInfo.VenueInfo .artistDetails.v2,
.GreySection .ArtistInfo.VenueInfo .artistDetails.v2 .badge{
	font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.GreySection .ArtistInfo.VenueInfo .artistDetails.v2.venuelocation{
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 10px;
}
.GreySection .VenueImg{
	margin-bottom: 30px;
    margin-top: 80px;
	max-width: 350px;
	max-height: 400px;
}
.LightGrey .venuegig .description{
    color: #414141;
    font-size: 18px;
    /*max-height: 32px;*/
}
.LightGrey .venuegig .points{
	font-size: 18px;
    margin-bottom: 10px;
}
.LightGrey .AppRequirement{
	background: #c1c1c1;
    border-radius: 20px;
    margin-top: 80px;
}
.LightGrey .AppRequirement .bandnumber{
	font-size: 24px;
	font-weight: 600;
}
.LightGrey .AppRequirement .lastappdate{
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
}
.LightGrey .AppRequirement .bandrequiredstuff{
	margin: 0;
	padding: 0;
	list-style: none;
}
.LightGrey .AppRequirement .bandrequiredstuff .fa-check{
	color: #256505;
	font-size: 32px;
    margin-right: 10px;
}
.btn-center{
	float: none !important;
	margin: 20px auto !important;
	display: table;
}
.SocialShareGroup{margin-top: 50px;}
.SocialShareGroup .socialShare{display: inline-table;}

#soundcloud iframe{
    height: 81px !important;
}
/* Dashboard */
.MyDashboard{
	float: left;
	width: 100%;
	display: block;
	overflow: hidden;
	background: #5d5d5d;
	padding:20px 0 15px;
}
.MyDashboard h3{
	color: #f5f5f5;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.MyDashboard .submenu{}
.MyDashboard .submenu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
.MyDashboard .submenu li{display: inline-table; padding: 0 10px;}
.MyDashboard .submenu li a:link,
.MyDashboard .submenu li a:visited,
.MyDashboard .submenu li a:focus{
	color: #f5f5f5;
	text-decoration: none;
}
.MyDashboard .submenu li a:hover{text-decoration: none; color: #d3d3d3;}

.GreyDashboard{
	float: left;
	width: 100%;
	display: block;
	overflow: hidden;
	background: #d3d3d3;
	padding: 50px 0;
    min-height: 800px;
}
.GreyDashboard h2.media-heading{
	color: #000000;
    font-size: 36px;
    margin-top: 0;
}
.GreyDashboard .tagband{
	color: #5d5d5d;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
	font-weight: 600;
}
.GreyDashboard .artistgenre{
	color: #000000;
    font-size: 22px;
    margin-top: 0;
}
.GreyDashboard h2.media-heading .fa-pencil{
	color: #000;
    font-size: 20px;
}
.GreyDashboard .ArtistDashboarItems{/*margin-top: 40px;*/}
.GreyDashboard .ArtistDashboarItems h5{
	float: left;
	color: #621a28;
	font-size: 22px;
    margin: 5px 0 0;
}
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary{ float: right; background: #3d262c none repeat scroll 0 0;border-radius: 30px;color: #fff;font-size: 14px;margin: 0;padding: 10px 15px;text-decoration: none; transition: all 0.3s ease 0s;}
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary:hover{background: #2f191f;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s;}
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary:visited,
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary:focus,
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary:active{background: #3d262c;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s;}

.GreyDashboard .ArtistDashboarItems .btn-artist.secondary .fa-search,
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary .fa-plus{margin: 0 3px;}

.GreyDashboard .ArtistDashboarItems .btn-artist.secondary.lg{ float: left; background: #3d262c none repeat scroll 0 0;border-radius: 30px;color: #fff;font-size: 18px;margin: 0;padding: 14px 50px;text-decoration: none; transition: all 0.3s ease 0s;}
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary.lg:hover{background: #2f191f;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s;}
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary.lg:visited,
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary.lg:focus,
.GreyDashboard .ArtistDashboarItems .btn-artist.secondary.lg:active{background: #3d262c;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s;}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{background: #ddd8d4; color: #060606;}
.smallbtngig{font-size: 12px !important; padding: 5px 10px !important;}

.GreyDashboard .ArtistDashboarItems table{
	margin-bottom: 5px;
}
.GreyDashboard .ArtistDashboarItems .panel-heading{
	overflow: hidden;
	display: block;
	border-bottom: 1px solid #ddd;
	padding-left: 5px;
    padding-right: 5px;
}
.GreyDashboard .ArtistDashboarItems .panel-body{
	padding: 0;
}
.GreyDashboard .ArtistDashboarItems .panel-body table thead td{
	font-size: 16px;
	font-weight: 600;
}
.GreyDashboard .ArtistDashboarItems .panel-body table tbody td{
	font-size: 14px;
	font-weight: 400;
}
.GreyDashboard .ArtistDashboarItems .panel-body table tbody td span.type{font-size: 12px; font-style: italic; color: #621a28;}
.GreyDashboard .ArtistDashboarItems .panel-body table tbody td .ActionControls{font-size: 14px;margin: 0 10px;}
.applyDate{color: #256400;}
.modal-body{overflow: hidden;}
.modal-body textarea{border-radius: 10px; resize: none;}
.tab-content{overflow: hidden;padding: 20px;}
label{
	color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.GreyDashboard .ArtistDashboarItems .BandMember{
	border:1px solid #e5e5e5;
	border-radius: 10px;
	padding: 10px;
    min-height: 100px;
}
.GreyDashboard .ArtistDashboarItems .BandMember .panel-body{margin: 0;}
.GreyDashboard .ArtistDashboarItems .BandMember .panel-body h4.media-heading{font-size: 18px; width: 100%; overflow: hidden; text-overflow: ellipsis;}
.GreyDashboard .ArtistDashboarItems .BandMember .editmember{background: #331a21;color: #fff;padding: 3px 13px;}
.GreyDashboard .ArtistDashboarItems .BandMember .editmember.black{background: #000000;color: #fff;padding: 3px 13px;}


.GreyDashboard .ArtistDashboarItems .AddNewMember{
	border: 1px solid #e5e5e5;
    padding-top: 20px;
	border-radius: 10px;
}

.GreyDashboard .ArtistDashboarItems .AddNewMember .btn-file,
.GreyDashboard .ArtistDashboarItems .GalleryTab .btn-file{
	background: #331a21;
    border-radius: 30px;
    font-size: 12px;
    overflow: hidden;
    position: relative;
}
.GreyDashboard .ArtistDashboarItems .AddNewMember .btn-primary.btn-file:hover,
.GreyDashboard .ArtistDashboarItems .GalleryTab .btn-primary.btn-file:hover{
	background: #2f191f;
}
.GreyDashboard .ArtistDashboarItems .AddNewMember .btn-primary.btn-file:focus,
.GreyDashboard .ArtistDashboarItems .AddNewMember .btn-primary.btn-file:visited,

.GreyDashboard .ArtistDashboarItems .GalleryTab .btn-primary.btn-file:focus,
.GreyDashboard .ArtistDashboarItems .GalleryTab .btn-primary.btn-file:visited
{background: #331a21;}

.GreyDashboard .ArtistDashboarItems .GalleryTab{
	margin-top: 30px;
	border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding-top: 20px;
}
.GreyDashboard .artistFeaturedImage{max-width: 132px !important; max-height: 120px !important;}


.vjs-control-bar{background: #331a21;}
.vjs-play-control > div::before,
.vjs-play-control > div::after,
.vjs-mute-control > div::after,
.vjs-mute-control > div::before,
.vjs-fullscreen-control > div::before{color: #FFF;}
.vjs-seek-handle{background: #0f0000;}
.vjs-time-divider{color: #FFF; font-size: 18px;}
.vjs-duration{color: #FFF;}

.vjs-paused .vjs-play-control:hover > div:before{color: #FFF;}
.vjs-see-handle:hover, vjs-seel-handle:focus{color: #FFF;}
.vjs-play-progress{background: #000;}
.vjs-play-control > div::before, .vjs-play-control > div::after{color: #FFF !important;}
.vjs-seek-handle:hover, .vjs-seek-handle:focus{background: #0f0000;}
.vjs-paused .vjs-play-control:hover > div::before{color: #FFF;}
.video-js{padding-bottom: 25px;}
.comments{font-size: 16px;}

.ventuegigdate{margin-bottom: 0;}
.applicationstatus{color: #268108; font-weight: 600;}
.applicationstatus.not{color: #e83143; font-weight: 600;}
.pdficon{font-size: 18px; color: #171717;}

.SkewSection .fa-star.cStar{
	color: #f6b501;
	font-size: 26px;
	margin-right: 5px;
}
.SkewSection .fa-star-o.cStar{
	color: #eaeaea;
	font-size: 26px;
	margin-right: 5px;
}
.SkewSection .RatingByArtist .headingtag{
	display: inline-table;
    font-size: 18px;
    font-weight: 600;
}
h3.thanksmessage{text-align: center; font-size: 22px; text-transform: none;}

.gigstableimage{max-width: 75px; max-height: 75px;}
textarea.form-control{overflow: hidden; resize: none;}


/* Footer */
.footer{
    float: left;
    width: 100%;
    display: block;
    background: #e8e8e8;
    overflow: hidden;
    padding: 60px 0;
}
.footer .copyright{
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 55px;
}
.footer ul.socialbox{
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    float: right;
}
.footer ul.socialbox li{
    display: inline-table;
    margin-left:12px;
}
.footer ul.legallinks{
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    text-align: right;
}
.footer ul.legallinks li{
    display: inline-table;
}
.footer ul.legallinks li a:link{
    display: inline-block;
    color: #333333;
    font-weight: 600;
    font-size: 12px;
    font-family: 'lato', sans-serif;
}
.footer ul.legallinks li .sep{margin: 0 3px 0 8px;}


.btn-artist{
    color: #060606;
    display: table;
    background-color: #ddd8d4 !important;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    border: 0;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
}

.btn-artist:hover{color: #060606;text-decoration: none; background: #a3a3a3 !important;transition: all 0.3s ease 0s;}
.btn-artist:visited,
.btn-artist:focus{color: #060606;text-decoration: none; transition: all 0.3s ease 0s;}

.btn-artist.secondary{background: #3d262c !important;color: #FFF; text-decoration: none; margin: 20px 0; transition: all 0.3s ease 0s;}
.btn-artist.secondary:hover{background: #2f191f !important;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s;}
.btn-artist.secondary:visited,
.btn-artist.secondary:focus{background: #3d262c;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s;}

.btn-artist.secondary.contrast{background: #0e0e0e !important;color: #FFF; text-decoration: none; margin: 20px 0; transition: all 0.3s ease 0s}
.btn-artist.secondary.contrast:hover{background: #000000 !important;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s}
.btn-artist.secondary.contrast:visited,
.btn-artist.secondary.contrast:focus{background: #0e0e0e;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s}

.btn-artist.secondary.contrast.green{background: #256505 !important;color: #FFF; text-decoration: none; margin: 20px 0; transition: all 0.3s ease 0s}
.btn-artist.secondary.contrast.green:hover{background: #1c5102 !important;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s}
.btn-artist.secondary.contrast.green:visited,
.btn-artist.secondary.contrast.green:focus{background: #256505;color: #FFF; text-decoration: none; transition: all 0.3s ease 0s}

.btn-artist.connentsbtn{font-size: 16px; padding: 10px 20px;}
.btn-artist.centerbtn{display: table; margin: 10px auto 30px !important;}
.smallbtn{font-size: 12px !important;}

/* Hussam's Css */
.artistRegister .bottom-space{margin-bottom: 2px;}
.artistRegister .forgotpassword{
    display: table;
    margin: 1px auto;
}
.artistRegister .container-center{
    margin-bottom: 92px;
    margin-top: 70px;
}
.GreyDashboard.artistDashboard-grey{background-color: #fafafa; }
.faq-page{
    float: left;
    width: 100%;
    display: block;
    background: url('../images/faq.jpg')  no-repeat center center;
    background-size: cover;
    height: 400px;
    overflow: hidden;
}
.panel-group.alignment-panel{margin-top: 30px;}
.panel-heading.faq-heading{
    background-color: #dedede;
    font-size: 18px;
    color: #3d262c;
    
}
/* Google Map */
 #map-canvas{width: 100%;height: 300px;}
/* Google Map Ends */
.redurecontactheight{min-height: 600px;}

.ui-timepicker-wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #3d262c;
    border-radius: 0;
    height: 200px;
    list-style: outside none none;
    margin: 7px 0 0;
    max-height: 200px;
    outline: medium none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    position: relative !important;
    width: 16em;
    z-index: 1050;
}
.ui-timepicker-list li:hover{ background-color: #3d262c;}    
.ui-timepicker-list li:focus{ background-color: #3d262c;}       
.ui-timepicker-list li:active{ background-color: #3d262c;}   
.ui-timepicker-list li.ui-timepicker-selected{ background-color: #3d262c;}     
.check-fix{margin-right:6px !important; padding-bottom: 10px;}
.check-bottom{margin-bottom: 16px;}

/* Hussam's Css Ends */
/* For NavBar */
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #e74c3c;
    font-size: 11px;
    line-height: 10px;
    margin-bottom: 0;    
}

.ComentsDisplay .media-heading{font-size: 16px;}

.customSearchBtn input.form-control{
	border-top-left-radius: 30px !important;
	border-bottom-left-radius: 30px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-color: #a3a3a3;
}
.customSearchBtn input.form-control:focus{border-color: #a3a3a3;}
.customSearchBtn .input-group-btn .btn{
	border: 2px solid #a3a3a3;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 30px !important;
	border-bottom-right-radius: 30px !important;
	border-left: 0;
}
.showingSearchCount{
	color: #333;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}
/* Controller Classes */
.imagecontrol{max-width: 75px !important; max-height: 75px !important;}
.bottomborder{border-bottom: 1px solid #d4d4d4;}
.photogallerycontrol{max-width: 120px !important; max-height: 120px !important;}
.imageActionGallery{padding: 0 5px; float: right;}
.searchListThumbmail{max-width: 225px !important; max-height: 225px !important;}
/* Controller classes ends */

/* BootStrap Hacks */
.no-gutter{padding-left: 0 !important; padding-right: 0 !important;}
.no-gutter-form{padding-left: 0; padding-right: 0;}
.form-control::-webkit-input-placeholder {color:#5a5a5a;}
.form-control:-moz-placeholder {color:#5a5a5a;}
.form-control::-moz-placeholder {color:#5a5a5a;}
.form-control:-ms-input-placeholder {color:#5a5a5a;}

/* Form UI Custom */
.select2-container{width: 100%;}
.select-primary .select2-choice{background: none; border: 2px solid #a3a3a3; border-radius: 30px; color: #636363;}
.smallSearchDash{height: 37px; padding: 2px 8px;}
.mbn{margin-bottom:0;}
.ArtistDashboarItems.mth .panel-body .table-responsive p{text-align: left; padding-left: 10px; margin: 15px 0 15px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background: #3d262c;border-color: #3d262c;color: #FFF;}
.ArtistDashboarItems .nav-tabs > li{margin-bottom: 0;}
.exemple4.blackStar .jStar{background: url('../js/jquery/icons/stars_black.png') repeat-x !important;}
.exemple4.greyStar .jStar{background: url('../js/jquery/icons/stars_grey.png') repeat-x !important;}
.jRatingAverage{background: #f4c239 !important;}
.redpin, redpin:hover, redpin:focus, redpin:active{color: #cc3433 !important; margin-right: 5px;}

/* Helper Classes */
.mth{margin-top: 60px !important;}
.mtm{margin-top: 40px !important;}
.mtl{margin-top: 20px !important;}
.mbh{margin-bottom: 60px !important;}
.mbm{margin-bottom: 40px !important;}
.mbl{margin-bottom: 20px !important;}
.nmt{margin-top: 0px !important;}
.nmb{margin-bottom: 0px !important;}
.ptagpadding{padding: 10px}
/* Helper Classes Ends */

/* Layout Fixes */
.embed-responsive{background: url('../images/youtubeplaceholder.jpg') no-repeat center center / cover;}
.WhiteSection.topgap.v2.side-collapse-container{min-height: 820px;}
.article-slide .item img{max-width: 553px !important; max-height: 360px !important;}
.whitelink, .whitelink:hover, .whitelink:focus, .whitelink:visited, .whitelink:active{color: #FFF !important;}
.viewall{float:right; padding: 0 !important; color: #3d262c !important;}
.viewall:hover, .viewall:visited, .viewall:focus, .viewall:active{color: #3d262c !important;}

@media (max-width: 1000px) {
	.navbar-nav > li > .dropdown-menu{width: 80%; padding-left: 30px; padding-right: 30px;}
	.navbar-new {margin: 0 !important;}
	.login{display: none;}
	.dropdown-menu > li > a{clear: none; white-space: normal;}
    .sm-hide-br{display: none !important;}
    .sm-show-br{display: block !important;}
    .navbar-brand .logooverflow{position: relative;width: 80%;}
    .navbar-header {float: none;}
    .navbar-collapse {border-top: none;box-shadow: none;}
    .navbar-collapse.collapse {display: none !important;}
    .navbar-nav {float: none!important;margin: 7.5px -15px;}
    .navbar-nav>li {float: none;}
    .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
    .navbar-text {float: none;margin: 15px 0;}
    .navbar-collapse.collapse.in { display: block!important;}
    .collapsing {overflow: hidden!important;}
    .navbar-right .form-border{border: none;box-shadow: none;}
    .navbar-default .navbar-nav > li > a{display: table;margin: 0 auto;text-align: center; padding: 8px;}
    .rt-center{float: none !important; margin: 0 auto;text-align: center;}
    .navbar-toggle {display: block;}
    .HeroSection .transparentbox .ctext{font-size: 20px;}
    .WhiteSection.topgap{padding-top: 40px;}
    .WhiteSection h2.getstarted{text-align: center;font-size: 40px;}
    .WhiteSection .subheading{text-align: center;}
    .btn-artist.secondary{display: table; margin: 20px auto;}
    .HuntTalent{padding: 80px 0;}
    .HuntTalent h2{font-size: 40px; text-align: center;}
    .HuntTalent .transparentbox p.vtxt{text-align: center;}
    .pagination li.previous > a, .pagination li.next > a, .pagination li.previous > span, .pagination li.next > span{font-size: 8px;}
    .GreySection .ArtistInfo.VenueInfo h2.venueheading{margin-top: 50px;text-align: center;}
    /* Footer */
    .footer{padding: 20px 0;}
    .footer ul.socialbox, .footer ul.legallinks{float: none; margin: 10px auto; display: table;}
    .footer .copyright{text-align: center; margin-top: 15px;}
	/* Artist Detail */
	.GreySection .ArtistInfo h2{text-align: center; margin-top: 50px;}
	.GreySection .ArtistInfo .artistDetails{text-align: center;}
	.GreySection .ArtistInfo .artistDetails.v2, .GreySection .ArtistInfo .artistDetails.v2 .badge{text-align: center;}
	.GreySection .ArtistInfo .artistMapLocation{text-align: center;}
	.GreySection .ArtistInfo .artistDescription{text-align: center;}
	.GreySection .ArtistInfo .taligntab{text-align: center;}
	.btn-artist.secondary.contrast{display: table;float: none !important;margin: 20px auto !important;}
	.SliderBox{padding-bottom: 150px;}
	.SliderBox #myCarousel .carousel-indicators li{float: none;}
	.SkewSection{background: #000;}
	.GreySkew .BioBox h4, .GreySkew .BioBox .biodetail{text-align: center;}
	.BlackSkew{margin-bottom: 30px;}
	.BlackSkew h4{margin-top: 0; text-align: center;}
	.BlackSkew h5, .BlackSkew .position{text-align: center;}
	.LightGrey h4{text-align: center;}
	.gigography h4.media-heading{text-align: left;}
	.GreySection .acceptingapplications .acceptHeading,
	.GreySection .acceptingapplications .accpetdetail,
	.LightGrey .venuegig .description,
	.LightGrey .venuegig .points{text-align: center;}
	.btn-artist.secondary.contrast.green{display: table; float:none !important; margin: 20px auto;}
	.GreySection .VenueImg{margin-top: 10px;}
	.SocialShareGroup, .LightGrey .AppRequirement .bandnumber, .LightGrey .AppRequirement .lastappdate{text-align: center;}
	.LightGrey .AppRequirement .bandrequiredstuff{text-align: center;}
	.GreySection .ArtistInfo.VenueInfo .artistDetails.v2, .GreySection .ArtistInfo.VenueInfo .artistDetails.v2 .badge{text-align: center;}
	.pdficon{color: #fff; display: table; margin: 0 auto; text-align: center;}
	.searchListThumbmail{max-height: 175px !important; max-width: 175px !important;}
	.btn-artist.secondary.contrast.comments{display: inline-table;}
	.btn-artist.secondary.contrast.tab-inline{display: inline-table;}
	.rating.rating-center {display: table !important; float: none !important; margin: 0 auto !important;}
	/* Helper Classes for tabs */
	.text-center-sm{text-align: center;}
}

/* iPad Horizontal Fix (1024) */
@media (min-width:992px) and (max-width:1199px){
    .WhiteSection .subheading{margin: 0;}
    .WhiteSection.topgap .btn.btn-primary.btn-artist.secondary{margin: 18px 0;}
    .HeroSection .transparentbox .ctext{font-size: 23px;}
    .HuntTalent h2{font-size: 46px; padding-bottom: 20%;}
	.searchListThumbmail{max-height: 175px !important; max-width: 175px !important;}
}

@media (min-width:320px) and (max-width:767px){
    .HeroSection h1{line-height: 45px; font-size: 42px;}
    .HeroSection h1 span.small{font-size: 24px; margin: 14px auto;}
    .btn-primary.roombutton {display: block;width: 100%;}
    .SearchParameters{display: none; margin-bottom: 20px;}
    .SearchParameters.showing {display: block;}
    .xm-no-gutter{padding-left: 0 !important;padding-right: 0 !important;}
	.embed-responsive{margin-bottom: 20px;}
	.SliderBox #myCarousel .carousel-indicators{top: 220px;}
	.SliderBox #myCarousel .carousel-indicators li,
	.SliderBox #myCarousel .carousel-indicators img{width: 70px; height: 45px;}
	.SliderBox{margin-top: 0;}
	.GreySection .ArtistInfo h2{font-size: 34px;}
	.GreySection .ArtistInfo .artistDetails, .GreySection .ArtistInfo .artistDetails .badge{font-size: 14px;}
	.GreySection .ArtistInfo .artistDetails.v2 .badge{display: table;}
	.GreySection .ArtistInfo .artistDetails.v2{display: flex;}
	.GreySection .ArtistInfo.VenueInfo h2.venueheading{font-size: 34px;}
	.GreySection .ArtistInfo.VenueInfo .artistDetails.v2, .GreySection .ArtistInfo.VenueInfo .artistDetails.v2 .badge{text-align: center; display: block;}
	.GreySection .ArtistInfo.VenueInfo .artistMapLocation{font-size: 26px; line-height: 40px;}
	.MyDashboard h3, .MyDashboard .submenu ul{text-align: center;}
	.MyDashboard .submenu li a:link, .MyDashboard .submenu li a:visited, .MyDashboard .submenu li a:focus{font-size: 14px;}
	.GreyDashboard .media-left{display: block;}
	.GreyDashboard h2.media-heading{text-align: center; font-size: 28px;}
	.GreyDashboard .tagband, .GreyDashboard .artistgenre{text-align: center;}
	.carousel-indicators{display: none !important;}
	.article-slide .item img{max-width: 100% !important; max-height: 360px !important;}
	.SliderBox{margin-top: 30px; min-height: auto !important;}
	
}


@media screen and (max-width: 980px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        right: 0;
        transition: right .4s;
    }
    .side-collapse-container.out {
        right: 200px;
    }
    .side-collapse {
        top: 110px;
        bottom: 0;
        right: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
        background: #000000;
    }
    .side-collapse.in {
        width: 0;
    }
}
@media (min-width:768px) and (max-width: 980px){
.GreyDashboard.side-collapse-container{min-height: 925px;}
}

